/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';

@media (min-width: 1025px) {
	html, body {
		padding: 20px;
	}
}

body {
	background-color: $white;
	color: $blue-dark;
}

img, embed,
object, video {
	max-width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-mdc-tab-body.mat-tab-body-active {
	overflow: hidden !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

// mat card global overwrites
.mat-mdc-card {
	background-color: $blue-light;
	//header
	/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
	.mat-mdc-card-header .mat-card-header-text {
	    margin: 0 16px 0 0;
	}

  .mat-badge-content.mat-badge-active {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

}

@media only screen and (min-width: 380px) {
	.restaurant-component[_ngcontent-c8] .mat-mdc-card[_ngcontent-c8] .mat-mdc-card-header[_ngcontent-c8] .mat-mdc-card-title[_ngcontent-c8] {
	    font-size: 20px;
	}
}
